@model List<decimal>
@{
    var selectedAccountNumber = ViewData["SelectedAccountNumber"] as string;
}

@if (User.IsInRole("User"))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <ul class="list-unstyled">

            <li class="mb-3">
                <a asp-controller="User"
                   asp-action="CheckBalance"
                   asp-route-accountNumber="@selectedAccountNumber"
                   class="w-25 btn btn-lg btn-primary">
                   Check Balance
                </a>
            </li>
            <li class="mb-3">
                <a asp-controller="User"
                   asp-action="AddMoneyToMyAccount"
                   asp-route-accountNumber="@selectedAccountNumber"
                   class="w-25 btn btn-lg btn-primary">
                   Add Money To My Account
                </a>
            </li>
            <li class="mb-3">
                <a asp-controller="User"
                   asp-action="SendMoney"
                   asp-route-accountNumber="@selectedAccountNumber"
                   class="w-25 btn btn-lg btn-primary">
                   Send Money
                </a>
            </li>
            <li class="mb-3">
                <a asp-controller="User"
                   asp-action="BankAccountDetails"
                   asp-route-accountNumber="@selectedAccountNumber"
                   class="w-25 btn btn-lg btn-primary">
                   Bank Account Details
                </a>
            </li>
        </ul>
    </div>
}