@model List<decimal>

<h3>Your Balance</h3>
<table class="table">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count == 2)
        {
            <tr>
                <td>EUR</td>
                <td>@Model[0].ToString("N2")</td>
            </tr>
            <tr>
                <td>USD</td>
                <td>@Model[1].ToString("N2")</td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="2" class="text-danger">Balance data not available.</td>
            </tr>
        }
    </tbody>
</table>