@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <ul class="list-unstyled">
        @if (User.IsInRole("Admin"))
        {
            <li class="mb-3">
                <a href="Admin/AddManager" class="w-25 btn btn-lg btn-primary">Create Manager</a>
            </li>
            <li class="mb-3">
                <a href="" class="w-25 btn btn-lg btn-primary">List Managers</a>
            </li>
        }
        <li class="mb-3">
            <a href="" class="w-25 btn btn-lg btn-primary">Currency Converter</a>
        </li>
    </ul>
</div>
